db:
container_name: db
image: mysql:8.0
restart: unless-stopped
ports:
  - 3307:3306
environment:
  MYSQL_ROOT_PASSWORD: # 這裡要填入 root 帳號的密碼
  MYSQL_DATABASE: # 這裡要填入欲使用的資料庫名稱
  MYSQL_USER: admin # 這裡要填入欲使用的使用者名稱 
  MYSQL_PASSWORD: admin # 這裡要填入欲使用的使用者密碼